:root {
  --size-wheel: 25rem;
}

html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.msg {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  color: #000;
}

ul {
  position: relative;
  padding: 0;
  margin: 1rem 0;
  width: var(--size-wheel);
  height: var(--size-wheel);
  border: 10px solid rgb(0, 12, 184);
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  transition: cubic-bezier(0.075, 0.8, 0.2, 1) 7s;
}

@media (min-width: 1024px) {
  :root {
    --size-wheel: 25rem;
  }

  ul {
    width: var(--size-wheel);
    height: var(--size-wheel);
  }

  .text {
    font-size: 16px;
  }

  span {
    display: inline-block;
    position: relative;
    padding: 0.5rem;
  }
  span::before {
    content: "";
    position: absolute;
    top: 0rem;
    left: 50%;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-top: 4rem solid rgb(255, 217, 0);
    z-index: 2;
    transform: translateX(-50%);
    animation: arrow ease-out 0.6s infinite;
  }

  .wrap_notification {
    width: 500px;
    height: 214px;
    background-color: transparent;
  }

  .popup {
    background: #fff;
    border: 2px solid #d32f2f;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    opacity: 0; /* Bắt đầu với độ mờ */
    transform: translateY(-20px); /* Bắt đầu ở vị trí cao hơn */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Hiệu ứng chuyển tiếp */
    width: 100%;
    height: 100%;
    color: #000;
    line-height: 40px;
  }

  .yes_or_no {
    font-size: 22px;
  }
}

@media (min-width: 736px) and (max-width: 1023px) {
  :root {
    --size-wheel: 16rem;
  }

  ul {
    width: var(--size-wheel);
    height: var(--size-wheel);
  }

  .text {
    font-size: 12px;
  }

  span {
    display: inline-block;
    position: relative;
    padding: 0.5rem;
  }
  span::before {
    content: "";
    position: absolute;
    top: 0rem;
    left: 50%;
    border-left: 1rem solid transparent !important;
    border-right: 1rem solid transparent !important;
    border-top: 2rem solid rgb(255, 217, 0) !important;
    z-index: 2;
    transform: translateX(-50%);
    animation: arrow ease-out 0.6s infinite;
  }

  .msg {
    margin: 0;
  }
  .popup {
    background: #fff;
    border: 2px solid #d32f2f;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 300px;
    opacity: 0; /* Bắt đầu với độ mờ */
    transform: translateY(-20px); /* Bắt đầu ở vị trí cao hơn */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Hiệu ứng chuyển tiếp */
    width: 100%;
    /* height: 100%; */
    color: #000;
    /* line-height: 40px; */
  }
}

span {
  display: inline-block;
  position: relative;
  padding: 0.5rem;
}

@keyframes arrow {
  0% {
    top: -2rem;
  }
  80% {
    top: 0;
  }
  100% {
    top: -1.5rem;
  }
}

span::after {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

li {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  display: block;
  text-align: center;
  padding-top: 1.7rem;
  font-weight: 600;
  color: #fff;
}

.text > b {
  display: inline-block;
  word-break: break-word;
  max-width: 20%;
}

.text-1 {
  background-color: rgb(0, 89, 255);
}

.text-2 {
  background-color: rgb(126, 182, 255);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  display: inline-block;
  text-align: center;
  border: 0;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 4rem;
  padding: 0.5rem 1.5rem;
  width: auto;
  cursor: pointer;
  outline: none;
}

button:hover {
  opacity: 0.8;
}

.wrap_msg {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.1);
}

.popup.show {
  opacity: 1; /* Độ mờ khi hiển thị */
  transform: translateY(0); /* Vị trí ban đầu */
}
.popup h1 {
  color: #d32f2f; /* Màu đỏ cho không khí Tết */
  /* margin: 0 0 10px; */
}
.popup h1,
.popup p {
  margin: 0 0 20px;
}
.close-btn {
  background: #d32f2f;
  color: white;
  border: none;
  border-radius: 5px;
  /* padding: 10px 15px; */
  cursor: pointer;
  transition: background 0.3s;
  font-size: 16px;
}
.close-btn:hover {
  background: #c62828;
}
