@media (max-width: 500px) {
  .no_width {
    color: #fff;
    display: flex;
    background-color: #000;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  #container {
    display: none !important;
  }

  #wrap_input {
    display: none !important;
  }

  .main {
    display: none;
  }
}

@media (min-width: 736px) and (max-width: 1023px) {
  .no_width {
    display: none;
  }

  #ramdom_lx {
    display: flex;
  }

  #wrap_input {
    display: flex;
  }

  .head_canvas {
    line-height: 100px;
    font-size: 20px;
    padding-top: 14px;
    width: 100%;
  }

  #typing-text {
    width: 90%;
    font-size: 14px;
    padding: 0 10px;
  }

  .yes_or_no {
    font-size: 12px;
  }

  .wrap_btn > button {
    font-size: 12px;
  }

  .close-btn {
    font-size: 15px;
    margin-top: 5px;
  }

  .msg {
    font-size: 16px;
  }

  .popup {
    padding: 10px;
  }

  .wrap_notification {
    width: 300px;
    height: 150px;
    top: -26px;
  }
}

@media (min-width: 500px) and (max-width: 735px) {
  .no_width {
    display: none;
  }
  #name_ramdom {
    display: none;
  }

  #ramdom_lx {
    display: flex;
  }

  #wrap_input {
    display: flex;
  }

  .head_canvas {
    line-height: 100px;
    font-size: 20px;
    padding-top: 14px;
    width: 100%;
  }

  #typing-text {
    width: 100%;
    font-size: 12px;
    padding: 0 10px;
  }

  .yes_or_no {
    font-size: 16px;
  }

  .wrap_btn > button {
    font-size: 12px;
  }

  .close-btn {
    font-size: 15px;
    margin-top: 5px;
  }

  .msg {
    font-size: 16px;
  }

  .popup {
    padding: 10px;
  }

  .wrap_notification {
    width: 300px;
    height: 150px;
    top: -30px;
  }
}
